@model IEnumerable<CriacaoUsuarios.Models.Usuario> 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="utf-8" />
</head>
<body>
        <p style="text-align:right">
            <a href="@Url.Action("Create")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                Novo Usuário
                @* @Html.ActionLink("Adicionar novo usuário", "Create") <!-- O segundo parametro 'Create' é action que será executada -->*@
            </a>
        </p>
    <table class="table">
        <tr >
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="text-align:center">
                Opções
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="text-align: center">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</body>
</html>
